body {
    background-color: #1B2021;
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    max-width: 800px;
}

#nav a {
    font-weight: normal;
    font-size: 200%;
    text-transform: uppercase;
    color: inherit;
}
#nav a:hover {
    color: #c9184a;
}
#nav-border {
    border-bottom: 1px solid #212529;
}

#main {
    margin-top: 1em;
    margin-bottom: 4em;
}

#home-jumbotron {
    background-color: inherit;
}

h1 {
    text-transform: uppercase;
    color:#EA638C;
}

h1.title {
    font-size: 400%;
    text-transform: none;
}

.font-125 {
    font-size: 125%;
}

a {
    color:#c9184a;
}

p {
    color: #FFF;
}
em {
    color: #ff8fa3;
}

time {
    text-transform: uppercase;
    letter-spacing: -1px;
}


.feather-16 {
    width: 16px;
    height: 16px;
}

.tag-btn {
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
    color: #FFF;
    background-color: #89023E;
}

.tag-btn:hover {
    background-color: #EA638C;
}

.share-btn {
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
}

img {
    max-width: 100%;
}

a.title:link, a.title:visited, a.title:hover, a.title:active {
    color: #EA638C;
    text-decoration: none;
    text-transform: uppercase;
}

a.summary:link, a.summary:visited, a.summary:hover, a.summary:active {
    color: black;
    text-decoration: none;
}

.footer {
    color: darkgrey;
    text-transform: uppercase;
    font-size: 70%;
}